.slot {
    border-radius: 4px;
    border: 1px solid #888;
    padding: 5px 10px;
    height: 100%;
    box-sizing: border-box;

    h2 {
        white-space: nowrap;
    }

    mat-list-option.active {
        background-color: #ddd;
    }

    &.active {
        mat-list-option.active {
            background-color: #c62828;
            color: #fff
        }
    }
}

.mat-selection-list {
    margin: 0 -10px;
    overflow-y: scroll;
    height: calc(100vh - 380px);
}

mat-list-option.mat-list-item.mat-list-option {
    height: 24px;
    font-size: 13px;
    text-overflow: ellipsis;
}

.new-slot {
    background-color: #eee;
    border-radius: 4px;
    padding: 16px 16px 0 16px;
    margin-bottom: 16px;

    .add-text {
        white-space: nowrap;
        line-height: 36px;
    }

    mat-form-field {
        width: 400px;
        margin-top: -5px;
    }
}

.player {
    background-color: #eee;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
}