<div gdAreas="add | slots | player" gdRows="auto 1fr auto" class="content-container training-container">
    <!-- add new slot -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="container new-slot" gdArea="add">
        <div class="add-text">Add dance:</div>
        <div fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
                <div *ngFor="let dance of settings.getDancesPerCategory(0); let i = index">
                    <button mat-flat-button color="primary" (click)="addSlot(dance, null)">
                        {{settings.getDanceFriendlyName(dance)}}
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
                <div *ngFor="let dance of settings.getDancesPerCategory(1); let i = index">
                    <button mat-flat-button color="primary" (click)="addSlot(dance, null)">
                        {{settings.getDanceFriendlyName(dance)}}
                    </button>
                </div>
            </div>
        </div>
        <div fxFlex="48px"></div>
        <div class="add-text">Add playlist:</div>
        <div fxFlex="100%">
            <mat-form-field>
                <input type="text" placeholder="Select playlist" matInput [matAutocomplete]="playlistSelect"
                    (keyup)="updateFilter($event)" [(ngModel)]="playlistFilterValue" #playlistInput>
                <button mat-button *ngIf="playlistFilterValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="playlistFilterValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #playlistSelect="matAutocomplete"
                    (optionSelected)="addSlot(null, $event.option.value)">
                    <mat-option *ngFor="let option of filteredPlaylists | async" [value]="option">
                        <span title="{{option.name}}">{{option.title}} ({{option.items?.length}})</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <!-- List of slots -->
    <div class="slots main-container" gdArea="slots">
        <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
            <div *ngFor="let slot of slots; let slotIndex = index" fxFlex="0 1 min-content">
                <div class="slot" [ngClass]="{'active': slotIndex == currentSlotIndex}">
                    <div fxLayout="row" class="slot-header" fxLayoutAlign="start center">
                        <div fxFlex="100%" class="title">
                            <span>{{settings.getDanceFriendlyName(slot.dance)}}</span><span
                                *ngIf="!slot.dance">{{slot.playlist?.title}}</span>
                        </div>
                        <div class="sort-order">
                            <mat-button-toggle-group name="sortOrder" [value]="slot.sortOrder"
                                (change)="changeSortOrder(slot, $event)">
                                <mat-button-toggle [value]="0" matTooltip="Shuffle">
                                    <mat-icon>shuffle</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [value]="1" matTooltip="Playlist order">
                                    <mat-icon>arrow_downward</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [value]="2" matTooltip="Alphabetic">
                                    <mat-icon>sort_by_alpha</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [value]="3" matTooltip="Genre">
                                    <mat-icon>queue_music</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div>
                            <button mat-icon-button (click)="selectAll(slot)" matTooltip="Select all">
                                <mat-icon>check_box</mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="unselectAll(slot)" matTooltip="Clear all">
                                <mat-icon>check_box_outline_blank</mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removeSlot(slot)" matTooltip="Remove slot">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>

                    <mat-list (selectionChange)="toggleSelection($event)">
                        <mat-list-item *ngFor="let song of slot.items; let songIndex = index"
                            [ngClass]="{'active': songIndex == slot.currentSongIndex}"
                            (dblclick)="moveToSong(slotIndex, songIndex)">
                            <div gdAreas="overview | details" gdRows="auto auto" class="song"
                                [ngClass]="{'not-exists': !song.configuration.exists, 'show-details': slot.showDetails}">
                                <div gdArea="overview" [matTooltip]="settings.getTooltip(song)"
                                    [matTooltipShowDelay]="1000" [matTooltipHideDelay]="0"
                                    [matTooltipPosition]="'after'" class="list-item-content">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                        <div>
                                            <mat-checkbox [disabled]="!song.configuration.exists"
                                                [checked]="!song.isDisabled" (change)="toggleSelection(song, $event)">
                                            </mat-checkbox>
                                        </div>
                                        <div fxFlex="100%" class="song-title">
                                            <span
                                                *ngIf="song.configuration.metadata">{{song.configuration.metadata?.title}}</span>
                                            <span
                                                *ngIf="!song.configuration.metadata">{{song.configuration.path}}</span>
                                        </div>
                                        <div class="song-genre">
                                            {{song.configuration.metadata?.genre}}
                                        </div>
                                        <div class="song-duration">
                                            {{settings.formatDuration(song.configuration.metadata?.duration)}}
                                        </div>
                                    </div>
                                </div>
                                <div gdArea="details" class="song-details" *ngIf="slot.showDetails">
                                    <div gdAuto="row" gdRows="auto!" gdColumns="auto 1fr" gdGap="0 8px">
                                        <div>Album</div>
                                        <div>{{song.configuration.metadata?.album}}</div>

                                        <div>Artists</div>
                                        <div>{{song.configuration.metadata?.artists}}</div>

                                        <div>Path</div>
                                        <div>{{song.configuration.path}}</div>
                                    </div>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>

                    <div fxLayout="row" class="slot-footer" fxLayoutAlign="start center" fxLayoutGap="16px">
                        <div>Speed</div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <input matInput type="number" [value]="slot.playbackRate" step="0.05"
                                    (change)="changePlaybackRate(slot, $event.currentTarget.value)">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <button mat-icon-button (click)="changePlaybackRate(slot, slot.playbackRate - 0.05)">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <button mat-icon-button (click)="changePlaybackRate(slot, slot.playbackRate + 0.05)">
                                <mat-icon>keyboard_arrow_up</mat-icon>
                            </button>
                            <button mat-icon-button (click)="changePlaybackRate(slot, 1)" matTooltip="Reset speed">
                                <mat-icon>undo</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="100%"></div>
                        <div>
                            <button mat-icon-button matTooltip="Show details" *ngIf="!slot.showDetails"
                                (click)="slot.showDetails = true">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Hide details" *ngIf="slot.showDetails"
                                (click)="slot.showDetails = false">
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Audio player controls -->
    <div gdArea="player">
        <div *ngIf="slots.length > 0" class="container player" fxLayout="row" fxLayoutGap="16px"
            fxLayoutAlign="start center">
            <div>
                <button mat-flat-button [disabled]="isPlaying && !isPaused" color="primary" (click)="play()">
                    <mat-icon>play_arrow</mat-icon> Play
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="isPaused || !isPlaying" (click)="next()">
                    <mat-icon>skip_next</mat-icon>Next
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="isPaused || !isPlaying" (click)="pause()">
                    <mat-icon>pause</mat-icon>Pause
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="!isPlaying" (click)="stop()">
                    <mat-icon>stop</mat-icon>Stop
                </button>
            </div>
            <div fxFlex="48px"></div>
            <div class="progress">
                {{slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].progress * 1000 | date:'mm:ss'}}
                /
                {{slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].duration * 1000 | date:'mm:ss'}}
            </div>
            <div fxFlex="100%">
                <mat-slider [min]="0"
                    (input)="updateProgress(slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex], $event)"
                    [max]="slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].duration"
                    [value]="slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].progress">
                </mat-slider>
            </div>
        </div>
    </div>
</div>