<div gdAreas="add | slots | player" gdRows="auto 1fr auto" gdGap="16px" class="player-container">
    <!-- add new slot -->
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between" class="container new-slot" gdArea="add">
        <div class="add-text">Add dance</div>
        <div *ngFor="let dance of settings.getDancesPerCategory(0); let i = index">
            <button mat-flat-button color="primary" (click)="addSlot(dance, null)">
                {{settings.getDanceShortName(dance)}}
            </button>
        </div>
        <div fxFlex="48px"></div>
        <div class="add-text">Add playlist</div>
        <div fxFlex="100%">
            <mat-form-field>
                <input type="text" placeholder="Select playlist" matInput [matAutocomplete]="playlistSelect"
                    (keyup)="updateFilter($event)" [(ngModel)]="playlistFilterValue" #playlistInput>
                <button mat-button *ngIf="playlistFilterValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="playlistFilterValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #playlistSelect="matAutocomplete"
                    (optionSelected)="addSlot(null, $event.option.value)">
                    <mat-option *ngFor="let option of filteredPlaylists | async" [value]="option">
                        <span title="{{option.name}}">{{option.title}} ({{option.items?.length}})</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <!-- List of slots -->
    <div class="slots" gdArea="slots">
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch">
            <div *ngFor="let slot of slots; let slotIndex = index" fxFlex="0 1 min-content">
                <div class="slot" [ngClass]="{'active': slotIndex == currentSlotIndex}">
                    <div fxLayout="row" class="slot-header" fxLayoutAlign="start center">
                        <div fxFlex="100%" class="title">
                            {{settings.getDanceFriendlyName(slot.dance)}}{{slot.playlist?.title}}
                        </div>
                        <div class="sort-order">
                            <mat-button-toggle-group name="sortOrder" [value]="slot.sortOrder"
                                (change)="changeSortOrder(slot, $event)">
                                <mat-button-toggle [value]="0">
                                    <mat-icon>shuffle</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [value]="1">
                                    <mat-icon>arrow_downward</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [value]="2">
                                    <mat-icon>sort_by_alpha</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div>
                            <button mat-icon-button (click)="selectAll(slot)">
                                <mat-icon>check_box</mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="unselectAll(slot)">
                                <mat-icon>check_box_outline_blank</mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-icon-button (click)="removeSlot(slot)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>

                    <mat-list (selectionChange)="toggleSelection($event)">
                        <mat-list-item *ngFor="let song of slot.items; let songIndex = index"
                            [ngClass]="{'active': songIndex == slot.currentSongIndex}"
                            (dblclick)="moveToSong(slotIndex, songIndex)">
                            <div>
                                <mat-checkbox [checked]="!song.isDisabled" (change)="toggleSelection(song, $event)">
                                </mat-checkbox>
                                {{settings.getFilename(song.configuration.attributes.src)}}
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>

    <!-- Audio player controls -->
    <div gdArea="player">
        <div *ngIf="slots.length > 0" class="container player" fxLayout="row" fxLayoutGap="16px"
            fxLayoutAlign="start center">
            <div>
                <button mat-flat-button [disabled]="isPlaying && !isPaused" color="primary" (click)="play()">
                    <mat-icon>play_arrow</mat-icon> Play
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="isPaused || !isPlaying" (click)="next()">
                    <mat-icon>skip_next</mat-icon>Next
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="isPaused || !isPlaying"
                    (click)="pause()">
                    <mat-icon>pause</mat-icon>Pause
                </button>
            </div>
            <div>
                <button mat-flat-button [disabled]="!isPlaying" (click)="stop()">
                    <mat-icon>stop</mat-icon>Stop
                </button>
            </div>
            <div fxFlex="48px"></div>
            <div class="progress">
                {{slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].progress * 1000 | date:'mm:ss'}}
                /
                {{slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].duration * 1000 | date:'mm:ss'}}
            </div>
            <div fxFlex="100%">
                <mat-slider [min]="0"
                    (input)="updateProgress(slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex], $event)"
                    [max]="slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].duration"
                    [value]="slots[currentSlotIndex].items[slots[currentSlotIndex].currentSongIndex].progress">
                </mat-slider>
            </div>
        </div>
    </div>
</div>