@import '../../styles/variables.scss';

.settings {
    padding-bottom: 0;

    mat-form-field {
        width: 100px;
    }

    .playbackRate {
        width: 180px;

        input {
            width: 40px;
        }

        .mat-icon-button {
            width: 14px;
            height: 14px;
            line-height: 14px;
            margin-left: 10px;
            background-color: mat-color($mat-gray, 200);
            background-color: transparent;

            &:last-of-type {
                margin-left: 20px;
            }

            mat-icon {
                width: 14px;
                height: 14px;
                font-size: 14px;
            }

            mat-icon:nth-of-type(2n) {
                margin-left: -18px;
            }

            &:hover {
                background-color: mat-color($mat-gray, 400);
            }
        }
    }
}

h2 {
    font-weight: normal;
    margin-top: 18px;
}

.songs-container {
    position: relative;

    .pause-progress {
        position: absolute;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        top: 8px;
        right: 16px;

        .pause-count-down {
            position: absolute;
            right: 30px;
            top: 8px;
        }

        mat-spinner {
            position: absolute;
            right: 0;
            top: 8px;
        }
    }
}

.song {
    position: relative;
    line-height: 25px;

    .title {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 10px;
    }

    .selectNewSong,
    .testSong,
    .playFromSong {
        position: absolute;
        top: 0;
        width: 25px;
        height: 25px;

        mat-icon {
            font-size: 16px;
            line-height: 25px;
            margin-top: -18px;
        }
    }

    .selectNewSong {
        right: 10px;
    }

    .testSong {
        right: 40px;
    }

    .playFromSong {
        right: 70px;
    }

    // .mat-icon-button[disabled][disabled] {
    //     color: rgba(255, 255, 255, 0.3);
    // }
}

mat-progress-bar {
    height: 25px;
    margin-bottom: 5px;
}