<div gdAreas="filter | songs | paginator" gdRows="auto 1fr auto" gdColumns="1fr" class="content-container">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="container settings" gdArea="filter">
        <div>
            <mat-checkbox (change)="onlyDuplicatesChanged($event)">Only duplicates</mat-checkbox>
        </div>
        <div>
            <mat-checkbox (change)="onlyDanceMissingChanged($event)">Only dance missing</mat-checkbox>
        </div>

        <div>
            <mat-form-field>
                <mat-select placeholder="Select dance" (selectionChange)="danceSelectionChanged($event)"
                    [(value)]="selectedDance">
                    <mat-option *ngFor="let dance of settings.getDancesPerCategory(0); let i = index" [value]="dance">
                        {{settings.getDanceFriendlyName(dance)}}
                    </mat-option>
                    <mat-option *ngFor="let dance of settings.getDancesPerCategory(1); let i = index" [value]="dance">
                        {{settings.getDanceFriendlyName(dance)}}
                    </mat-option>
                </mat-select>
                <button mat-button *ngIf="selectedDance" matSuffix mat-icon-button aria-label="Clear"
                    (click)="danceSelectionChanged(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div fxFlex="100%"></div>

        <div>
            <button mat-flat-button color="primary" [disabled]="!songSelection.hasValue()"
                (click)="openAssignDanceDialog()">
                Assign dance
            </button>
        </div>
    </div>

    <div class="playlist-items-container" gdArea="songs">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                    {{element.title}}<br />
                    <span class="path">{{element.absolutePath}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="playlists">
                <th mat-header-cell *matHeaderCellDef>Playlists</th>
                <td mat-cell class="playlists" *matCellDef="let element">
                    <span
                        [matTooltip]="getPlaylistsTooltip(getPlaylistsForSong(element.absolutePath))">{{getPlaylistsForSong(element.absolutePath).length}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="dance">
                <th mat-header-cell *matHeaderCellDef>Dance</th>
                <td mat-cell class="dance" *matCellDef="let element">{{element.dance}}</td>
            </ng-container>

            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef>Genre</th>
                <td mat-cell class="genre" *matCellDef="let element">{{element.genre?.join(', ')}}</td>
            </ng-container>

            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>Duration</th>
                <td mat-cell class="duration" *matCellDef="let element">{{settings.formatDuration(element.duration)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="songSelection.hasValue() && isAllSelected()"
                        [indeterminate]="songSelection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? songSelection.toggle(row) : null" [checked]="songSelection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="play">
                <th mat-header-cell *matHeaderCellDef>Play</th>
                <td mat-cell class="play" *matCellDef="let element">
                    <a *ngIf="currentPlayingSong !== element" (click)="playSong($event, element)"
                        matTooltip="Play songs">
                        <mat-icon>play_circle_filled</mat-icon>
                    </a>
                    <a *ngIf="currentPlayingSong === element" (click)="stop($event)" matTooltip="Play songs">
                        <mat-icon>pause_circle_filled</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="songsColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: songsColumns;" (click)="songSelection.toggle(row)"
                [ngClass]="{ 'selected-row': songSelection.isSelected(row) }"></tr>
        </table>
    </div>

    <div gdArea="paginator">
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center" class="container">
            <div class="selected-items">Selected: {{songSelection.selected.length}}</div>
            <div>
                <mat-paginator [pageSizeOptions]="[100, 200, 500]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #assignDanceDialog>
    <h2 matDialogTitle>Assign Dance</h2>
    <mat-dialog-content>
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutGap="8px">
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
                    <div *ngFor="let dance of settings.getDancesPerCategory(0); let i = index">
                        <button mat-flat-button color="primary" (click)="assignDance(dance)">
                            {{settings.getDanceFriendlyName(dance)}}
                        </button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
                    <div *ngFor="let dance of settings.getDancesPerCategory(1); let i = index">
                        <button mat-flat-button color="primary" (click)="assignDance(dance)">
                            {{settings.getDanceFriendlyName(dance)}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>