@import "../../styles/colors.scss";

.libraries-container {
  overflow: scroll;
}

.playlists-container,
.playlist-items-container {
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
}

.playlists-container table {
  background-color: #eee;
}

.playlist-items-container table {
  width: 100%;
}

table.mat-table {
  user-select: none;
}

th.mat-header-cell,
td.mat-cell {
  padding: 10px;
}

td.items,
td.last-modified,
td.duration,
td.playlists {
  text-align: right;

  mat-chip: {
    font-size: 12px;
  }
}

td.items,
td.last-modified,
td.duration,
td.dance,
td.genre {
  font-size: 11px;
}

th.rating {
  text-align: center;
}

td.rating {
  white-space: nowrap;
  text-align: center;

  mat-icon {
    color: #666;
    margin-right: 5px;
    margin-left: 5px;

    &.selected {
      color: mat-color($app-highlight);
    }
  }
}

.selected-row {
  background-color: mat-color($app-primary, 200)!important;
}

.alternate-row {
  background-color: mat-color($mat-gray, 200);
}

.not-exists td {
  color: #bbb;
}

.path {
  font-size: 11px;
}

mat-icon {
  cursor: pointer;
}

.mat-paginator {
  background-color: transparent;
}

.selected-items {
  white-space: nowrap;
  font-size: 12px;
}