<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>
        <a routerLink="/training" routerLinkActive="active">Training</a>
        <a routerLink="/practice" routerLinkActive="active">Practice</a>
    </span>
    <span class="fill-space"></span>
    <span *ngIf="settings.initialized && settings.busyText" class="busy-indicator">
        <span class="busy-animation">{{settings.busyText}}</span>
    </span>
    <span class="settings">
        <a routerLink="/settings" routerLinkActive="active">
            <mat-icon>build</mat-icon>
        </a>
        <a (click)="settings.initialize()">
            <mat-icon>refresh</mat-icon>
        </a>
    </span>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
    <div class="busy" *ngIf="!settings.initialized" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <mat-spinner [diameter]="48"></mat-spinner>
        <div class="busy-text">{{settings.busyText}}</div>
    </div>
</div>

<simple-notifications></simple-notifications>