<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>
        <a routerLink="/training" routerLinkActive="active">Training</a>
        <a routerLink="/practice" routerLinkActive="active">Practice</a>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
        <a (click)="settings.initialize()">Reload playlists</a>
    </span>
    <span class="fill-space"></span>
    <span>UTSC Music Player</span>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
    <div class="busy" *ngIf="!settings.initialized" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</div>