<mat-toolbar>
    <span class="logo"><img src="./assets/images/icon.png" title="Floorcraft Music Player" /></span>

    <span>
        <a routerLink="/training" routerLinkActive="active">Training</a>
        <a routerLink="/practice" routerLinkActive="active">Practice</a>
    </span>
    <span class="fill-space"></span>
    <span *ngIf="settings.initialized && settings.busyText" class="toolbar-busy-indicator">
        <mat-spinner [diameter]="16"></mat-spinner>
    </span>
    <span *ngIf="settings.initialized && settings.busyText">
        <span class="toolbar-busy-text">{{settings.busyText}}</span>
    </span>
    <span class="settings">
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
        <!-- <a routerLink="/manage-library" routerLinkActive="active">Library</a>
        <a routerLink="/manage-playlists" routerLinkActive="active">Playlists</a> -->
        <!-- <a (click)="settings.loadPlaylists()" matTooltip="Reload playlists">
            <mat-icon>queue_music</mat-icon>
        </a>
        <a (click)="settings.loadSongs()" matTooltip="Reload songs">
            <mat-icon>library_music</mat-icon>
        </a> -->
    </span>

    <span class="window-controls">
        <div id="window-controls">
            <div class="button" id="min-button" (click)="minimizeWindow()">
                <span>&#xE921;</span>
            </div>
            <div class="button" id="max-button" (click)="maximizeWindow()">
                <span>&#xE922;</span>
            </div>
            <!-- <div class="button" id="restore-button" (click)="restoreWindow()" [hidden]="!window?.isMaximized()">
                <span>&#xE923;</span>
            </div> -->
            <div class="button" id="close-button" (click)="closeWindow()">
                <span>&#xE8BB;</span>
            </div>
        </div>
    </span>
</mat-toolbar>

<div class="content">
    <mat-progress-bar *ngIf="isLoading | async" mode="indeterminate" color="warn">
    </mat-progress-bar>

    <router-outlet></router-outlet>
    <div class="busy" *ngIf="!settings.initialized" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <mat-spinner [diameter]="48"></mat-spinner>
        <div class="busy-text">{{settings.busyText}}</div>
    </div>
</div>

<simple-notifications></simple-notifications>