@import 'styles/colors.scss';
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~material-design-icons/iconfont/material-icons.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-red, 800, 200, 900);
$app-accent: mat-palette($mat-grey, 500, 300, 700);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-orange);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-block-end: 0.4em;
}

.content-container {
    height: 100%;
    overflow: hidden;
}

.container {
    background-color: #eee;
    padding: 16px;
}

.main-container {
    padding: 16px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

mat-form-field {
    width: 100%;
    max-width: 100%;
}

.mat-progress-bar-buffer {
    background-color: #888;
}

.mat-list-base .mat-list-item {
    height: auto !important;
    line-height: 24px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.mat-tooltip {
    white-space: pre-line;
    font-size: 12px;
    padding: 8px;
    line-height: 1.4em;
    max-width: 500px!important;
}

/* toggle button */
.training-container {
    .mat-button-toggle-label-content {
        line-height: 24px !important;
        padding: 0 3px !important;

        mat-icon {
            height: 16px;
        }
    }

    .mat-button-toggle-group-appearance-standard {
        border: solid 1px rgba(255, 255, 255, 0.3);
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
        border-left: solid 1px rgba(255, 255, 255, 0.3);
    }

    .mat-button-toggle-appearance-standard {
        background: rgba(255, 255, 255, 0);
    }

    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        background: rgba(255, 255, 255, 0.3);
    }
}

.practice-container {
    .mat-button-toggle-label-content {
        line-height: 36px !important;
        padding: 0 3px !important;

        mat-icon {
            height: 24px;
        }
    }

    mat-button-toggle-group {
        border: none;
    }

    mat-button-toggle {
        padding-left: 8px;
        padding-right: 8px;
    }

    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        background-color: #c62828;
        color: #fff;
    }
}

.simple-notification {
    .sn-content {
        font-size: 12px!important;
    }
}