<div *ngIf="settings" class="settings-container">
    <div>
        <h2>Settings</h2>
    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between">
        <div fxFlex="100">
            <mat-form-field>
                <!-- <input matInput [readonly]=true type="text" placeholder="Music folder"
                    [(ngModel)]="settings.musicFolder"> -->
                <mat-chip-list>
                    <mat-chip *ngFor="let folder of settings.musicFolders" [removable]="true"
                        (removed)="deleteMusicFolder(folder)">{{folder}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div fxFlex="auto">
            <button mat-flat-button color="primary" (click)="musicFolderInput.click()">Select music folder</button>
            <input hidden type="file" webkitdirectory #musicFolderInput (change)="musicFolderChanged($event)" />
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between">
        <div fxFlex="100">
            <mat-form-field>
                <input matInput type="text" placeholder="Extensions to exclude (separated by comma)"
                    [(ngModel)]="settings.extensionsToExclude" (change)="settings.save()">
            </mat-form-field>
        </div>
    </div>

    <div>
        <h2>Default Playlists</h2>
    </div>

    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between">
        <div fxFlex="50">
            <mat-form-field>
                <mat-select placeholder="Intro" (selectionChange)="playlistSelectionChanged($event)"
                    [(value)]="settings.configuration?.defaultPlaylistsPerDance.Intro">
                    <mat-option *ngFor="let item of settings.playlists" [value]="item.filename">
                        {{item.title}}
                    </mat-option>
                </mat-select>
                <button mat-button *ngIf="settings.configuration?.defaultPlaylistsPerDance.Intro" matSuffix
                    mat-icon-button aria-label="Clear" (click)="clearSelection('Intro')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field>
                <mat-select placeholder="Finish" (selectionChange)="playlistSelectionChanged($event)"
                    [(value)]="settings.configuration?.defaultPlaylistsPerDance.Finish">
                    <mat-option *ngFor="let item of settings.playlists" [value]="item.filename">
                        {{item.title}}
                    </mat-option>
                </mat-select>
                <button mat-button *ngIf="settings.configuration?.defaultPlaylistsPerDance.Finish" matSuffix
                    mat-icon-button aria-label="Clear" (click)="clearSelection('Finish')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between" class="default-playlists">
        <div fxFlex="50">
            <h2>Standard</h2>

            <div *ngFor="let dance of settings.getDancesPerCategory(categories[0])">
                <mat-form-field>
                    <mat-select placeholder="{{settings.getDanceFriendlyName(dance)}}"
                        (selectionChange)="playlistSelectionChanged($event)"
                        [(value)]="settings.configuration?.defaultPlaylistsPerDance[dance]">
                        <mat-option *ngFor="let item of settings.playlists" [value]="item.filename">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="settings.configuration?.defaultPlaylistsPerDance[dance]" matSuffix
                        mat-icon-button aria-label="Clear" (click)="clearSelection(dance)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="50">
            <h2>Latin</h2>

            <div *ngFor="let dance of settings.getDancesPerCategory(categories[1])">
                <mat-form-field>
                    <mat-select placeholder="{{settings.getDanceFriendlyName(dance)}}"
                        (selectionChange)="playlistSelectionChanged($event)"
                        [(value)]="settings.configuration?.defaultPlaylistsPerDance[dance]">
                        <mat-option *ngFor="let item of settings.playlists" [value]="item.filename">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="settings.configuration?.defaultPlaylistsPerDance[dance]" matSuffix
                        mat-icon-button aria-label="Clear" (click)="clearSelection(dance)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- <div>
        <h2>Profiles</h2>
    </div>

    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between" class="tree">
        <div fxFlex="auto">
            <mat-tree [dataSource]="profilesDataSource" [treeControl]="profileTreeControl">
                <!-- This is the tree node template for leaf nodes - ->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf - ->
                    <button mat-icon-button disabled></button>
                    {{node.title}}
                    <button *ngIf="node.level == 0 && !node.isDefault" mat-button color="primary" class="set-as-default"
                        (click)="setProfileAsDefault(node)">Set as
                        default</button>
                </mat-tree-node>

                <!-- This is the tree node template for expandable nodes - ->
                <mat-tree-node *matTreeNodeDef="let node; when: profileHasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{profileTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.title}}
                    <button *ngIf="node.level == 0 && !node.isDefault" mat-button color="primary" class="set-as-default"
                        (click)="setProfileAsDefault(node)">Set as
                        default</button>
                </mat-tree-node>
            </mat-tree>
        </div>
        <div fxFlex="auto">
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between">
                <div fxFlex="100">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Add profile" [(ngModel)]="newProfile">
                    </mat-form-field>
                </div>
                <div fxFlex="auto">
                    <button mat-flat-button color="primary" (click)="addProfile()" [disabled]="!newProfile">Add
                        Profile</button>
                </div>
            </div>
        </div>
    </div> -->

    <div>
        <h2>Reload Songs</h2>
    </div>

    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between">
        <div fxFlex="auto">
            <button mat-flat-button color="primary" (click)="settings.loadPlaylists(true)"
                [disabled]="!settings.musicFolders.length">Reload all playlists</button>
        </div>

        <div fxFlex="auto">
                <button mat-flat-button color="primary" (click)="settings.loadSongs(true)"
                    [disabled]="!settings.musicFolders.length">Reload all songs</button>
            </div>
    </div>

    <!-- <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between">
        <div fxFlex="auto">
            <h2>Clear Database</h2>

            <button mat-flat-button color="primary" (click)="settings.clearDatabase()"
                [disabled]="!settings.musicFolders.length">Clear Database</button>
        </div>
    </div> -->
</div>

<ng-template #confirmDeleteDialog>
        <h2 matDialogTitle>Confirm Delete</h2>
        <mat-dialog-content>
            <div fxLayout="row">
                <div fxLayout="column" fxLayoutGap="8px">
                    <div>Do you really want to delete the selected item?
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button color="primary" [mat-dialog-close]="true">Delete</button>
            <button mat-button matDialogClose>Cancel</button>
        </mat-dialog-actions>
    </ng-template>